.filter {
  list-style: none;
  padding-left: 0;
}

.filter li {
  display: inline;
  padding: 1em;
}

/*fix Safari accessibility issue from list-style none*/
.filter li::before {
  content: "\200B";
}

.filter button {
  all: unset;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 5px;
}
/* removing button styles 
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
*/

.filter button.selected, .filter button:hover {
  border-color: rgba(152, 251, 152, 0.4);
}

.filter button.selected {
  border-color: rgb(152, 251, 152);
}

.todos {
  list-style: none;
  padding-left: 0;
  padding-left: 5em;
  padding-right: 5em;
}

.todos li {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "bin task box";
  padding: 0.5em;
}

.todos li:hover {
  background-color: aliceblue;
}

.no-items{
  grid-area: task;
}

.box {
  height: 1em;
  width: 1em;
  border: 1px #AAA solid;
  grid-area: box;
  justify-self: center;
  align-self: center;
}

.box:hover {
  background-color: yellow;
  cursor: pointer;
}

.box span {
  font-size: 1.5em;
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.2em;
  user-select: none;
}

.complete {
  text-decoration: line-through;
}

.bin {
  font-size: 1.5em;
  grid-area: bin;
  cursor: pointer;
  user-select: none;
  width: 2em;
  justify-self: center;
  align-self: center;
}

.clear-search{
  cursor: pointer;
  user-select: none;
  margin-right: 0.5em;
}

/* remove the browser 'x' to clear search box, chrome/ie */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; 
}

input[type=text]::-ms-clear {
  display: none; 
  width : 0; 
  height: 0; 
}

input[type=text]::-ms-reveal {
  display: none; 
  width : 0; 
  height: 0; 
}