/* .add-form {
  display: grid;
  grid-template-areas: "input btn";
  padding-left: 15em;
  padding-right: 15em;
}

.input-bar {
  font-size: 2em;
  margin: 0.3em;
  padding: 0.2em;
  grid-area: input;
}
*/
.search-form, .add-form {
  padding-left: 15em;
  padding-right: 15em;
  display: inline-flex;
	height: 2.5em;
	line-height: 0;
  align-items: center;
  margin: 0.5em;
}

/* comments are browser defaults */
.search-form input, .add-form input {
	padding: 0; /* 1px 0px */
	background-color: transparent; /* white */
	cursor: default; /* text */
	border-width: 0; /* 2 */
	border-style: none; /* inset*/
	border-color: transparent; /* initial */
	font: inherit; /* 400 13.3333px Arial */
}

.search-form input:focus, .add-form input:focus {
	outline-style: none; /* webkit-focus-ring-color auto 1px; */
	outline-offset: 0; /* -2px */
	padding: 0; /* 1px */
}

.add-form button {
  all: unset;
}

.add-form input {
	cursor: text;
	border-color: #a0a0a0;
	border-width: 1px;
	border-style: solid;
	padding: .5em .7em .5em .7em;
  width: 25em;
  /* height: 2.5em; this doesnt seem to do the same effect as it does in search..?*/
  align-self: center;
}

.add-form input:focus {
	display: inline-block;
	padding: .5em .7em .5em .7em;
	border-color: #3b99fc; /* Highlight */
	box-shadow: 0 0 2px;
}

.add-form button {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	border: 1px solid;
	user-select: none;
	padding: .375em .75em;
	font-size: 1em;
	line-height: 1.6;
	border-radius: .25em;
	
	box-sizing: border-box;
	font-weight: 500;
	/* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
	text-transform: uppercase;
	color: green;
	background-color: transparent;
  border-color: green;
  margin: 1em;
}

.add-form button:hover {
	background-color: rgba(0, 128, 0, .1)
}

.search-form input {
	cursor: text;
	border-color: #a0a0a0;
	border-width: 1px;
	border-style: solid;
	border-radius: 2em;
	padding: .5em 1.7em .5em 1.7em;
	height: 2.5em;
	width: 2em; 
	transition: width 2s ease;
	align-self: center;
}

.search-form input:focus {
	display: inline-block;
	padding: .5em 1.7em .5em 1.7em;
	border-color: #3b99fc; /* Highlight */
	box-shadow: 0 0 2px;
	width: 20em;
}

.search-form input:not(:placeholder-shown) {
  width: 20em;
}

.search-form input:not(:placeholder-shown) + .clear-search {
  opacity: 1;
  z-index: 0;
}

.mag {
	width: 1.5em;
	margin-right: -1.8em;
	opacity: 1;
}

/* would it better to try use the svg as a psudo element? 
https://stackoverflow.com/questions/19255296/is-there-a-way-to-use-svg-as-content-in-a-pseudo-element-before-or-after
*/
.clear-search {
  width: 1em;
  user-select: none;
  cursor: pointer;
	margin-left: -1.5em;
  opacity: 0;
  z-index: -1;
}
.search-form input:focus + .clear-search {
	opacity: 1;
  transition-delay: 1.5s;
  z-index: 0;
}

.btn-style {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  border: 1px black solid;
  width: 140px;
  grid-area: btn;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* remove the browser 'x' to clear search box, chrome/ie */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type=text]::-ms-clear {
  display: none;
  width : 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width : 0;
  height: 0;
}

.filter {
  list-style: none;
  padding-left: 0;
}

.filter li {
  display: inline;
  padding: 1em;
}

/*fix Safari accessibility issue from list-style none*/
.filter li::before {
  content: "\200B";
}

.filter button {
  all: unset;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 5px;
}
/* removing button styles 
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
*/

.filter button.selected, .filter button:hover {
  border-color: rgba(152, 251, 152, 0.4);
}

.filter button.selected {
  border-color: rgb(152, 251, 152);
}

.todos {
  list-style: none;
  padding-left: 0;
  padding-left: 5em;
  padding-right: 5em;
}

.todos li {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "bin task box";
  padding: 0.5em;
}

.todos li:hover {
  background-color: aliceblue;
}

.no-items {
  grid-area: task;
}

.box {
  height: 1em;
  width: 1em;
  border: 1px #AAA solid;
  grid-area: box;
  justify-self: center;
  align-self: center;
}

.box:hover {
  background-color: yellow;
  cursor: pointer;
}

.box span {
  font-size: 1.5em;
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.2em;
  user-select: none;
}

.complete {
  text-decoration: line-through;
}

.bin {
  font-size: 1.5em;
  grid-area: bin;
  cursor: pointer;
  user-select: none;
  width: 2em;
  justify-self: center;
  align-self: center;
}